.App {
  /* background-image: url('../App/video/hola.jpg'); */
  background-size: cover;
 
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}



/* body {
  background-color:#24272C ;
  color: white;
} */


.logo {
  width: 45%;
}




.nav_pkm{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nav_pkm a{
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem
}

.active {
  background-color:#DC0A2D;
}

nav a:hover{
  color: #FFCC02;
  transition-duration: .6s;
}

@media only screen and (max-width: 700px) {
  .nav_pkm a {
    font-size: .6rem;
  }
}