body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  /* background: rgb(150, 154, 154);
  background: linear-gradient(90deg, rgba(150, 154, 154, 1) 5%, rgba(206, 207, 215, 1) 47%, rgba(150, 154, 154, 1) 96%); */

  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(215,215,227,1) 49%, rgba(255,255,255,1) 100%);
  /* background-color: #F7F8F7; */

  font-family: 'Press Start 2P';
  position: relative;
  /* overflow: hidden; */
  text-align: center;
 
  display: flex;
  align-items: center;
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.videoIntro {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  
}

